@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Great+Vibes&display=swap');

.cormorant-upright-light {
  font-family: "Cormorant Upright", serif;
  font-weight: 500;
  font-style: normal;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}
.blurr{
    filter: blur(15px);
}
